
/* themes */
.light {
  background-color: #f7f7f7;
  color: #2c2c29;
  transition: 0.5s ease-in-out;
}
.dark {
  background-color: #292b2c;
  color: #f7f7f7;
  transition: 0.5s ease-in-out;
}

.logo {
  width: 10em;
}
.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.backLink {
  cursor: pointer;
  text-decoration: underline;
  color: #007bff;
  margin-left: 1em;
  margin-top: 1em;
  font-size: 1.2em;
}
.nav-link::after{
  content: '';
  display: block;
  width: 0%;  
  height: 2px;
  transition: 0.4s
}
.navbar-dark .nav-link::after {
  background: #fec400;
}
.navbar-light .nav-link::after {
  background: #0066ff;
}
 .navbar-dark .navbar-nav .nav-link.show,
 .navbar-dark .navbar-nav .show>.nav-link,
 .navbar-dark .navbar-nav .nav-link:focus,
 .navbar-dark .navbar-nav .nav-link:hover {
     color: #fec400
 }
  
 .navbar-dark .navbar-nav .nav-link.active{
  color: #ffee00
 }
 .navbar-light .navbar-nav .nav-link.show,
 .navbar-light .navbar-nav .show>.nav-link,
 .navbar-light .navbar-nav .nav-link:focus,
 .navbar-light .navbar-nav .nav-link:hover {
     color: #0044ff
 }
  
 .navbar-light .navbar-nav .nav-link.active{
  color: #0044ff
 }

.nav-link:hover::after {
  width: 100%
}
.text-light .btn-tertiary:hover{
  color: #fec400!important;
}
.text-dark .btn-tertiary:hover{
  color: #0044ff!important;
}
.text-light .page-link{
  background-color: #292b2c;
  border:#484848 solid 1px;
  color: #ffee00;
}
.text-light .page-link{
  z-index: 3;
    color: #ffee00;
    border-color:  #4a4a4a;
}
.text-light .page-link:hover{
  background-color: #484848;
}
.text-light h6 a{
  color: #ffee00;
}
.text-light .active>.page-link, .page-link.active{
  background-color: #ffee00;
  color: #292b2c;
}
