/* themes */
/* .light {
  background-color: #f7f7f7;
  color: #2c2c29;
  transition: 0.5s ease-in-out;
}
.dark {
  background-color: #292b2c;
  color: #f7f7f7;
  transition: 0.5s ease-in-out;
} */

.nav{
  background-color: transparent;
}
.logo {
  width: 10em;
}
.bground{
  position: absolute;
  top: 0%;
  left: 0%;
  background: url(./assets/login.jpg) no-repeat top center black; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.cta-button{
  background-color: #C19D53;
  padding: 0.6em;
  text-transform: uppercase;
  color:#fff;
  border:solid #C19D53 2px;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
.cta-button:hover{
  background-color: transparent;
  padding: 0.6em;
  color:#C19D53;
  border:solid #C19D53 2px;
  transition: all 0.5s ease-in-out;
}
.logout-button{
  background-color: #ff0000;
  padding: 0.6em;
  text-transform: uppercase;
  color:#ffffff;
  border:solid #ff0000 2px;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
.logout-button:hover{
  background-color: #aa0000;
  padding: 0.6em;
  text-transform: uppercase;
  color:#ffffff;
  border:solid #aa0000 2px;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
.form-box{
  background-color: rgba(6, 6, 6, 0.6);
  border: solid 3px #C19D53;
  max-width: 50%;
  padding: 3em;
}
.form-label{
  color: #C19D53;
}
.logoBig{
  width: 24em;
}
.inputField{
  background-color: rgba(34,34,34,0.6);
  border-radius: 0;
  color: #ffffff;
  width: 100%;
}
.inputField:focus{
  background-color: rgba(34, 34, 34, 0.6);
  color: #C19D53;
  border: solid #C19D53 1px;
}
.inputField::placeholder{
  color: #fff;
}
.inputField:not(:focus) {
  color: #ffffff;
}
.inputField::-ms-reveal {
  filter: invert(100%);
}
.links a{
  color: #C19D53;
}
.links p {
  color: #fff;
}
