/* Colors */
:root{
    --cta: #C19D53;
    --disabled: #66532c;
    --text: #fffe;
    --navlink: #252525;
    --navlinkhov: #C19D53;
    --body: #fffe;
    --box: rgba(47, 47, 47, 0.5);
    --acclink: #0000FF;
  }
:root:has(#theme [value="☀️"]:checked) {
  color-scheme: light;
  --cta: #C19D53;
  --disabled: #66532c;
  --text: #ffffffee;
  --navlink: #252525;
  --body: #ffffffee;
  --box: rgba(34, 34, 34, 0.5);
}
:root:has(#theme [value="🌑"]:checked) {
  color-scheme: dark;
  --cta: #C19D53;
  --disabled: #66532c;
  --text: #252525;
  --navlink: #fffe;
  --body: #252525;
  --box: rgba(232, 232, 232, 0.5);  
}
.app{
  background-color: var(--body);
}
/* Navigation */
.nav{
  background-color: var(--body);
  z-index: 10;
}
.nav-link{
  color: var(--navlink);
  z-index: 10;
}
.nav-link:hover{
  color: var(--navlinkhov);
}
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--cta);
}
.bg-video{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}
.logo {
  width: 10em;
}
/*Buttons*/
.cta-button{
  background-color: var(--cta);
  padding: 0.6em;
  text-transform: uppercase;
  color:var(--text);
  border:solid var(--cta) 2px;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
.cta-button:hover{
  background-color: transparent;
  padding: 0.6em;
  color: var(--cta);
  border:solid var(--cta) 2px;
  transition: all 0.5s ease-in-out;
}
.logout-button{
  background-color: var(--disabled);
  padding: 0.6em;
  margin-left: 1em;
  text-transform: uppercase;
  color:#fff;
  border:solid var(--disabled) 2px;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
.logout-button:hover{
  background-color: transparent;
  padding: 0.6em;
  color: var(--disabled);
  border:solid var(--disabled) 2px;
  transition: all 0.5s ease-in-out;
}
/* Login and register */
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  max-height: 90vh;
}
.form-box{
  background-color: var(--box);
  border: solid 3px var(--cta);
  padding: 2em;
}
.form-label{
  color: var(--text);
  text-transform: uppercase;
}
.logoBig{
  width: 20em;
}
.inputField{
  background-color: var(--navlink);
  border-radius: 0;
  color: #ffffff;
  width: 100%;
}
.inputField:focus{
  background-color: var(--navlink);
  color: #C19D53;
  border: solid #C19D53 1px;
}
.inputField::placeholder{
  color: var(--body);
  text-transform: uppercase;
  font-size: 0.8em;
}
.inputField:not(:focus) {
  color: var(--body) ;
}
.inputField::-ms-reveal {
  filter: invert(100%);
}
.links a{
  color: var(--acclink);
}
.links p {
  color: var(--body);
}
.card{
  background-color: transparent;
}
.offer{
  font-size: 0.75rem;
}
/* Alerts */
.alert{
  width: 18vw;
  position: absolute;
  bottom: 0;
  right: 0;
  border:none;
  border-radius:0%;
}
/* Home */
.cta-text{
  color: var(--cta);
}
.dropdown-toggle{
  color: var(--navlink)
}