/* themes */
.app{
  margin: 0px;
  padding: 0px;
}
/* .light {
  background-color: #f7f7f7;
  color: #2c2c29;
  transition: 0.5s ease-in-out;
}
.dark {
  background-color: #292b2c;
  color: #f7f7f7;
  transition: 0.5s ease-in-out;
} */
.nav{
  background-color: transparent;
}
.logo {
  width: 15em;
}
.bground{
  background: url(./assets/login.jpg) no-repeat top center black; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 100vh;
    height: 100vh;
}
.cta-button{
  background-color: #C19D53;
  padding: 0.6em;
  text-transform: uppercase;
  color:#fff;
  border:solid #C19D53 2px;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
.cta-button:hover{
  background-color: transparent;
  padding: 0.6em;
  color:#C19D53;
  border:solid #C19D53 2px;
  transition: all 0.5s ease-in-out;
}
.form-box{
  background-color: rgba(6, 6, 6, 0.6);
  border: solid 3px #C19D53;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoBig{
  width: 20em;
  display: flex;
  justify-content: center;
}
.inputField{
  background-color: rgba(34,34,34,0.6);
  border-radius: 0;
  color: #222;
}
.inputField:focus{
  background-color: rgba(34, 34, 34, 0.6);
  color: #C19D53;
  border: solid #C19D53 1px;
}
.inputField::placeholder{
  color: #fff;
}
