/* Colors */

:root{
  --bg: #212529;
  --cta: #C19D53;
  --disabled: #66532c;
  --text-color: #fffe;
  --navlink: #fffe;
  --navlinkhov: #C19D53;
  --white: #fffe;
  --input: rgba(255, 255, 255, 0.5);
  --box: rgba(6, 6, 6, 0.6); 
  --text: "EB Garamond", serif;
  --pop: "Poppins", sans-serif
}
.app{
background-color: var(--bg);
/* background-color: var(--bg); */
}
/* Navigation */
.nav-link{
color: var(--navlink);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
color: var(--disabled);

/* text-decoration: underline; */
}
.nav-link:hover{
color: var(--cta);
/* text-decoration: underline; */
}
.loader{
display: flex;
justify-content: center;
align-items: center;
height: calc(100vh - 78.4px);
color: var(--cta);
}
.logo {
width: 10em;
}
/*Buttons*/
.cta-button-secondary{
  background-color: transparent;
  padding: 0.6em;
  text-transform: uppercase;
  color:var(--cta);
  border:solid var(--cta) 2px;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
  }
  .cta-button-secondary:hover{
  background-color: var(--cta);
  padding: 0.6em;
  color: var(--text);
  border:solid var(--cta) 2px;
  transition: all 0.5s ease-in-out;
  }
.cta-button{
background-color: var(--cta);
padding: 0.6em;
text-transform: uppercase;
color:var(--text);
border:solid var(--cta) 2px;
border-radius: 0;
transition: all 0.5s ease-in-out;
font-family: var(--pop)
}
.cta-button:hover{
background-color: transparent;
padding: 0.6em;
color: var(--cta);
border:solid var(--cta) 2px;
transition: all 0.5s ease-in-out;
font-family: var(--pop);
}
.logout-button{
background-color: var(--disabled);
padding: 0.6em;
margin-left: 1em;
text-transform: uppercase;
color:#fff;
border:solid var(--disabled) 2px;
border-radius: 0;
transition: all 0.5s ease-in-out;
}
.logout-button:hover{
background-color: transparent;
padding: 0.6em;
color: var(--disabled);
border:solid var(--disabled) 2px;
transition: all 0.5s ease-in-out;
}
/* Login and register */
.box{
display: flex;
justify-content: center;
align-items: center;
background: url('./assets/Login.jpg') center center no-repeat;
/* height: calc(100vh - 78.4px); */
position: absolute;
width: 100%;
height: 100dvh;
top: 0;
left: 0;
z-index: -1;
}
.form-label{
color: var(--text-color);
font-family: var(--text);
text-transform: uppercase;
}
.logoBig{
width: 20em;
}
.inputField{
background-color: var(--box);
border-radius: 0;
width: 100%;
}
.inputField::placeholder{
color: var(--navlink);
text-transform: uppercase;
font-size: 0.8em;
}
.inputField:not(:focus) {
color: var(--white) ;
}
.inputField::-ms-reveal {
filter: invert(100%);
}
.links a{
color: var(--cta);
}
.links p {
color: var(--text-color);
}
.offer{
font-size: 0.75rem;
}
/* Alerts */
.alert{
width: 18vw;
position: absolute;
bottom: 0;
right: 0;
border:none;
border-radius:0%;
}
/* Home */
.cta-text{
color: var(--cta);
}
.dropdown-toggle::after{
color: var(--navlink);
margin-right: 1em;
}
.card{
background-color: var(--box);
border: solid 3px var(--cta);
padding: 2em;
font-family: var(--text);
}
.card-img{
  width: 20em;
}
.bg-img{
  background: url('./assets/parallax/Bg-parallax.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}
.hero{
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  height: 100dvh;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
.title{
  font-family: var(--text);
  font-size: 3em;
  text-shadow: 2px 2px 4px #606060ae;
  font-weight: bold;
  margin-bottom: 2em;
}
.about{
  background-color:#212529;
  height: 100vh;
}
.icon{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.icon p{
  font-family: var(--pop);
  color: var(--white);
  font-size: 1em;
}
.header{
font-family:var(--text)
}