/* Colors */
.app{
    --cta: #C19D53;
    --disabled: #66532c;
    --white: #fffffe;
    --black: rgba(34, 34, 34, 0.6);
}

/* Navigation */
.nav{
  background-color: transparent;
  z-index: 10;
}
.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.logo {
  width: 10em;
}
.bg-video {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -10;
  background-color: var(--black)
}
/*Buttons*/
.cta-button{
  background-color: #C19D53;
  padding: 0.6em;
  text-transform: uppercase;
  color:#fff;
  border:solid #C19D53 2px;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
.cta-button:hover{
  background-color: transparent;
  padding: 0.6em;
  color: var(--cta);
  border:solid var(--cta) 2px;
  transition: all 0.5s ease-in-out;
}
.logout-button{
  background-color: var(--disabled);
  padding: 0.6em;
  text-transform: uppercase;
  color:#fff;
  border:solid var(--disabled) 2px;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
.logout-button:hover{
  background-color: transparent;
  padding: 0.6em;
  color: var(--cta);
  border:solid var(--disabled) 2px;
  transition: all 0.5s ease-in-out;
}
/* Login and register */
.form-box{
  background-color: var(--black);
  border: solid 3px var(--cta);
  padding: 2em;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-label{
  color: var(--white);
  text-transform: uppercase;
}
.logoBig{
  width: 20em;
}
.inputField{
  background-color: var(--black);
  border-radius: 0;
  color: #ffffff;
  width: 100%;
}
.inputField:focus{
  background-color: var(--black);
  color: #C19D53;
  border: solid #C19D53 1px;
}
.inputField::placeholder{
  color: #ffffff88;
  text-transform: uppercase;
  font-size: 0.8em;
}
.inputField:not(:focus) {
  color: #ffffff;
}
.inputField::-ms-reveal {
  filter: invert(100%);
}
.links a{
  color: var(--cta);
}
.links p {
  color: #fff;
}
.card{
  background-color: transparent;
}
.offer{
  font-size: 0.75rem;
}
/* Alerts */
.alert{
  width: 18vw;
  position: absolute;
  bottom: 0;
  right: 0;
  border:none;
  border-radius:0%;
}
/* Home */
.cta-text{
  color: var(--cta);
}