/* themes */
.light {
  background-color: #f7f7f7;
  color: #2c2c29;
  transition: 0.5s ease-in-out;
}
.dark {
  background-color: #292b2c;
  color: #f7f7f7;
  transition: 0.5s ease-in-out;
}
/* Navigation */
.nav{
  background-color: transparent;
}
.logo {
  width: 10em;
}
.bg-video {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -10;
  background-color: black;
}
.cta-button{
  background-color: #C19D53;
  padding: 0.6em;
  text-transform: uppercase;
  color:#fff;
  border:solid #C19D53 2px;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
.cta-button:hover{
  background-color: transparent;
  padding: 0.6em;
  color:#C19D53;
  border:solid #C19D53 2px;
  transition: all 0.5s ease-in-out;
}
.logout-button{
  background-color: #66532c;
  padding: 0.6em;
  text-transform: uppercase;
  color:#fff;
  border:solid #66532c 2px;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
.logout-button:hover{
  background-color: transparent;
  padding: 0.6em;
  color:#C19D53;
  border:solid #66532c 2px;
  transition: all 0.5s ease-in-out;
}
/* Login and register */
.form-box{
  background-color: rgba(33, 33, 33, 0.5);
  border: solid 3px #C19D53;
  padding: 2em;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-label{
  color: #ffffffe9;
  text-transform: uppercase;
}
.logoBig{
  width: 20em;
}
.inputField{
  background-color: rgba(34,34,34,0.6);
  border-radius: 0;
  color: #ffffff;
  width: 100%;
}
.inputField:focus{
  background-color: rgba(34, 34, 34, 0.6);
  color: #C19D53;
  border: solid #C19D53 1px;
}
.inputField::placeholder{
  color: #ffffff88;
  text-transform: uppercase;
  font-size: 0.8em;
}
.inputField:not(:focus) {
  color: #ffffff;
}
.inputField::-ms-reveal {
  filter: invert(100%);
}
.links a{
  color: #C19D53;
}
.links p {
  color: #fff;
}
.card{
  background-color: rgba(47, 47, 47, 0.5);
}
.offer{
  font-size: 0.75rem;
}
/* Alerts */
.alert{
  width: 18vw;
  position: absolute;
  bottom: 0;
  right: 0;
  border:none;
  border-radius:0%;
}
/* Home */
/* .bg{
  position: absolute;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
.hero{
  position: fixed; 
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 3;
}
.foreg{
  width: 100vw;  
  height: auto;
  bottom: 0;
  z-index: 2;
}
.intro{
  display: flex;
  justify-content: center;
  font-size: 3em;
  z-index: 1;
} */
