/* themes */
/* .light {
  background-color: #f7f7f7;
  color: #2c2c29;
  transition: 0.5s ease-in-out;
}
.dark {
  background-color: #292b2c;
  color: #f7f7f7;
  transition: 0.5s ease-in-out;
} */

.nav{
  background-color: transparent;
}
.logo {
  width: 10em;
}
.bg-video {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -10;
  background-color: black;
}
.cta-button{
  background-color: #C19D53;
  padding: 0.6em;
  text-transform: uppercase;
  color:#fff;
  border:solid #C19D53 2px;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
.cta-button:hover{
  background-color: transparent;
  padding: 0.6em;
  color:#C19D53;
  border:solid #C19D53 2px;
  transition: all 0.5s ease-in-out;
}
.logout-button{
  background-color: #ff0000;
  padding: 0.6em;
  text-transform: uppercase;
  color:#ffffff;
  border:solid #ff0000 2px;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
.logout-button:hover{
  background-color: #aa0000;
  padding: 0.6em;
  text-transform: uppercase;
  color:#ffffff;
  border:solid #aa0000 2px;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
.form-box{
  background-color: rgba(33, 33, 33, 0.5);
  border: solid 3px #C19D53;
  padding: 2em;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-label{
  color: #ffffffe9;
  text-transform: uppercase;
}
.logoBig{
  width: 20em;
}
.inputField{
  background-color: rgba(34,34,34,0.6);
  border-radius: 0;
  color: #ffffff;
  width: 100%;
}
.inputField:focus{
  background-color: rgba(34, 34, 34, 0.6);
  color: #C19D53;
  border: solid #C19D53 1px;
}
.inputField::placeholder{
  color: #ffffff88;
  text-transform: uppercase;
  font-size: 0.8em;
}
.inputField:not(:focus) {
  color: #ffffff;
}
.inputField::-ms-reveal {
  filter: invert(100%);
}
.links a{
  color: #C19D53;
}
.links p {
  color: #fff;
}
.card{
  background-color: rgba(47, 47, 47, 0.5);
}
.offer{
  font-size: 0.75rem;
}
.progress{
  border-radius: 0;
  background-color: transparent; 
}
.progress-bar{
  border-radius: 0;
  margin-left: 0.5em;
}
.custom-progress{
  background-color: #C19D53;
}
.disabled-progress{
  background-color: rgba(24, 24, 24, 0.7);
}
